<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #modeForm="ngForm">
      <div class="form-group">
        <label for="name">Wybierz Tryb Gry Do Usunięcia</label>
        <select id="name" name="name" [(ngModel)]="name" class="form-control">
          <option *ngFor="let mode of modes" [ngValue]="mode.name"> 
            {{mode.name}}
          </option>
        </select>
      </div>
      <button type="submit" [disabled]="!modeForm.form.valid" class="btn btn-info">Usuń</button>
    </form>
  </div>
</div>