<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #playerForm="ngForm">
      <div class="form-group">
        <label for="name">Wybierz Gracza Do Usunięcia</label>
        <select id="name" name="name" [(ngModel)]="name" class="form-control">
          <option *ngFor="let player of players" [ngValue]="player.login"> 
            {{player.login}}
          </option>
        </select>
      </div>
      <button type="submit" [disabled]="!playerForm.form.valid" class="btn btn-info">Usuń</button>
    </form>
  </div>
</div>