<div class="card my-5">
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #panteonForm="ngForm">
      <div class="form-group">
        <label for="name">Wybierz Postać Do Usunięcia</label>
        <select id="name" name="name" [(ngModel)]="name" class="form-control">
          <option *ngFor="let character of characters" [ngValue]="character.name"> 
            {{character.name}}
          </option>
        </select>
      </div>
      <button type="submit" [disabled]="!panteonForm.form.valid" class="btn btn-info">Usuń</button>
    </form>
  </div>
</div>