<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nazwa</th>
          <th scope="col">Data Dodania</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let panteon of panteons">
          <td>{{ panteon.id }}</td>
          <td>{{ panteon.name }}</td>
          <td>{{ panteon.dateAdded }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>